html, body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, ol, ul, li, a, p {
    font-family: "Tahoma";
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    list-style: none;
    color: #000000;
    text-decoration: none;
}
.wrapper {
    width: 70%;
    margin: 0 auto;
}
.page_header {
    background-color: rgb(5, 35, 59);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15
}
.page_header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page_header .menu {
    display: flex;
}
.page_header .menu .style {
    width: 18px;
}
.page_header .menu .menu_item .style_h {
    width: 18px;
    padding: 8px;
}
.page_header .menu .menu_item > a {
    display: inline-block;
    color: #fff;
    padding-top: 18px;
    padding-left: 5px;
    padding-right: 40px;
    padding-bottom: 18px;
}
.page_title { 
    margin-top: 100px; 
} 
.element_title { 
    display: flex; 
    justify-content: space-between; 
} 
.text_l { 
    display: flex; 
    justify-content: space-between; 
} 
.element_text > li { 
    padding-top: 20px; 
    font-size: 17px; 
    padding-right: 38px; 
    font-weight: bold; 
    color: rgb(82, 82, 82); 
} 
.logo  > img {     
    width: 60px;
    height: 60px;
} 
.logo  > a {   
   padding-top: 5px;
   padding-bottom: 50px;
   font-weight: bold;
   font-size: 40px;
   padding-right: 250px;
} 
.logo {
    display: flex; 
    justify-content: space-between; 
}
.foto_out { 
    position: relative; 
    z-index: 1; 
} 
.osnova_image { 
   width: 100%; 
   height: 675px; 
} 
.foto_out { 
    width: 100%; 
    border-radius: 3px; 
} 
 .foto_out .overlay { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 675px; 
    background-color: rgba(0, 0, 0, 0.7); 
    transition: 0.5s; 
} 
.foto_out .overlay:hover { 
    opacity: 0; 
} 
.foto_out .overlay_text { 
    position: absolute; 
    top: 30%; 
    right: 20%; 
    left: 20%; 
    bottom:30%; 
    text-align: center; 
    z-index: 3; 
} 
.overlay_text > h1 { 
    font-size: 45px; 
    color :rgb(255, 255, 255);   
    font-weight: bold; 
} 
.overlay_text > p { 
    padding-top: 30px; 
    font-size: 30px;  
    color :rgb(255, 255, 255);   
} 
.overlay_text .button { 
    margin-top: 90px; 
    text-align: center; 
}
.overlay_text .button > a { 
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}  
.overlay_text .button1 { 
    color: #fff; 
    font-size: 15px;  
    padding: 30px; 
    margin-right: 15px; 
    background-color:rgb(22, 160, 134); 
} 
.overlay_text .button2 { 
    color:rgb(120, 120, 120); 
    font-size: 15px; 
    padding: 30px; 
    margin-right: 5px; 
    background-color:rgb(255, 255, 255); 
}
.content {
    padding-bottom: 120px;
}
.content .text_2 {
    color: rgb(5, 35,59);
    text-align: center;
    padding-top: 80px;
    font-size: 35px;
    font-weight: bold;
}
.content .liniya {
    width: 90px;
    height: 1px;
    background-color: rgb(5, 35,59);
    text-align: center;
    display: flex;
}
.content .wrapper .menu_x {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.content .menu_x .menu_item >img {
    width: 100%;
    height: 70%;
}
.content .menu_x .menu_item {
    width: 32%;
    background-color: rgb(5,35,59);
}
.content .menu_x .menu_item > p {
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    padding-top: 20px;
    padding-left: 30px;
}
.content .menu_x .menu_item > h1,h2,h3 {
    color: #fff;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 15px;
}
.content_1 {
    background-color: rgb(245, 245, 245);
    padding-bottom: 80px;
}
.content_1 .text_3 {
    color: rgb(5, 35,59);
    text-align: center;
    padding-top: 80px;
    font-size: 35px;
    font-weight: bold;
}
.content_1 .liniya_1 {
    width: 90px;
    height: 2px;
    background-color: rgb(5, 35,59);
    text-align: center;
    display: flex;
}
.content_1 .wrapper .menu_y {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.content_1 .menu_y .menu_item_1 >img {
    width: 40%;
    height: 60%;
    padding-top: 30px;
}
.content_1 .menu_y .menu_item_1 > p {
    font-weight: bold;
    font-size: 17px;
    color: rgb(5, 35, 59);
    text-align: center;
    padding-bottom: 100px;
}
.menu_item_1 {
    border: 2px #27b797 solid;
    width: 23%;
    text-align: center;
}
.content_2 {
    width: 100%;
    background-color: rgb(5, 35, 59);
    padding-bottom: 90px;
}
.content_2 .wrapper .menu_element{
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
}
.content_2 .wrapper .menu_element > li .text > h1 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}
.menu_element > li {
    width: 32%;
}
.menu_element > li .text .poloska {
    padding-top: 14px;
    width: 90px;
    border-bottom: #fff solid 3px;
}
.menu_element > li .text > p {
    color: #fff;
    font-size: 15px;
    padding-top: 18px;
}
.menu_element > li > input {
    margin-top: 10px;
    width: 92%;
    padding: 13px;
    height: 18%;
}
.menu_element > li > select {
    width: 100%;
    margin-top: 20px;
    padding: 14px;
    height: 40%;
}
.menu_element > li > select.form {
    color: rgb(100, 100, 100);
}
.menu_element > li .button {
    margin-top: 20px;
    padding: 15px;
    width: 28%;
    background-color:rgb(22, 160, 134); 
}
.menu_element > li .button > p {
    text-align: center;
}
 .menu_element > li .button > p > a {
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.content_3 {
    padding-bottom: 100px;
    background-color: rgb(245, 245, 245);
}
.content_3 .text_p {
    color: rgb(5, 35,59);
    text-align: center;
    padding-top: 80px;
    font-size: 35px;
    font-weight: bold;
}
.content_3 .liniya_ {
    width: 90px;
    height: 2px;
    background-color: rgb(5, 35,59);
    text-align: center;
    display: flex;
}
.content_3 .wrapper .menu_x1 {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.content_3 .menu_x1 .menu_item_ >img {
    width: 100%;
    height: 100%;
}
.content_3 .menu_x1 .menu_item_ {
    width: 32%;
}
.menu_x1 .menu_item_ {
    position: relative;
}
.menu_x1 .menu_item_ > p {
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(5, 35,59,0.8);
    padding: 20px;
    left: 0;
    top: 78%;
    right: 0;
    
}

